/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: underline;
    margin: 0 10px;
    font-weight: bold;
    font-size: x-large;
}

nav a:hover {
    color: #00ffcc; /* Changing color when user hovers over nav bar */
}




/* Created classes for each of the headers in the help.html page to color them separately. */

h2.EasyMode {
    text-decoration: underline;
    color: greenyellow;
    font-size:40px;
    padding-bottom: 12px;
}

h2.MediumMode {
    text-decoration: underline;
    color: orange;
    font-size:40px;
    padding-bottom: 12px;
}

h2.AdvancedMode {
    text-decoration: underline;
    color: red;
    font-size:40px;
    padding-bottom: 12px;
}

p.EasyDesc {
    font-size: x-large;
    max-width: 700px;
    padding-bottom:50px;
}

p.MediumDesc {
    font-size: x-large;
    max-width: 700px;
    padding-bottom:50px;
}

p.AdvancedDesc {
    font-size: x-large;
    max-width: 700px;
}

h1.HomeHeader {
    font-size: 600%;
}

.HomeLogin {
    padding-bottom: 50%;
    font-size: larger;
}

h1.HowTo {
    font-size:350%;
    padding-bottom:50px;
}

.registerHeader {
    font-size: 350%;
}

.registerElements {
    display: grid;
    grid-template-columns:200px 1fr;
    gap: 10px;
    align-items: center;

    margin: 1 auto;
    width: 300px;
    padding-right: 400px;
    padding-bottom: 50px;
    padding-top: 100px;
}

label {
    text-align: center;
}

input {
    padding: 6px;
}

button.submitButton {
    width: 100px;
    height: 30px;
    font-size: larger;
    font-family:sans-serif;
    background-color: rgba(50, 50, 50, 0.5);    
    color: white;
    border-radius: 7px;
    transition: transform 1 ease;
}

button.submitButton:hover {
    background-color: rgba(160,150,150,0.7);
    transform: translate(-2px,-4px);
    
}

.loginLabels {
    display: grid;
    grid-template-columns:200px 1fr;
    gap: 10px;
    align-items: center;

    margin: 1 auto;
    width: 300px;
    padding-right: 400px;
    padding-bottom: 20px;

}

button.loginButton {
    width: 100px;
    height: 30px;
    font-size: larger;
    font-family:sans-serif;
    background-color: rgba(50, 50, 50, 0.5);    
    color: white;
    border-radius: 7px;
    transition: transform 1 ease;
}

button.loginButton:hover {
    background-color: rgba(160,150,150,0.7);
    transform: translate(-2px,-4px);
}