/* Reset default browser spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    min-height: 100vh;
}

header {
    background-color: #1f1f1f;
    padding:1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: underline;
    margin: 0 10px;
    font-weight: bold;
    font-size: x-large;
}

nav a:hover {
    color: #00ffcc; /* Changing color when user hovers over nav bar */
}




/* Created classes for each of the headers in the help.html page to color them separately. */

h2.EasyMode {
    text-decoration: underline;
    color: greenyellow;
    font-size: xx-large;
}

h2.MediumMode {
    text-decoration: underline;
    color: orange;
    font-size: xx-large;
}

h2.AdvancedMode {
    text-decoration: underline;
    color: red;
    font-size: xx-large;
}

p.EasyDesc {
    font-size: x-large;
    max-width: 700px;
}

p.MediumDesc {
    font-size: x-large;
    max-width: 700px;
}

p.AdvancedDesc {
    font-size: x-large;
    max-width: 700px;
}

h1.HomeHeader {
    font-size: 600%;
}

.HomeLogin {
    padding-bottom: 50%;
}